# Lists

In [13]:
x = 4
x = 2
print(x)

2

In [14]:
friends = ['Joesph','Glenn','Sally']
carryon = ['socks','shirt','perfume']

In [15]:
print(friends)

['Joesph', 'Glenn', 'Sally']

In [16]:
print(['red',23,21.1])
# different data types

['red', 23, 21.1]

In [17]:
print([2,[3,4],5])
# list within lists

[2, [3, 4], 5]

In [18]:
# i is the iteration variable
for i in friends:
    print('Happy new year,',i)

Happy new year, Joesph
Happy new year, Glenn
Happy new year, Sally

In [19]:
friends

['Joesph', 'Glenn', 'Sally']

In [20]:
print(friends[1])

Glenn

In [23]:
# strings are immutable
fruit = 'Banana'

In [24]:
fruit[0]='b'

TypeError: 'str' object does not support item assignment

In [26]:
x = fruit.lower()
print(x)

banana

In [27]:
# lists are mutable
lotto = [2,14,26,41,63]
print(lotto)

[2, 14, 26, 41, 63]

In [28]:
lotto[2] = 28
print(lotto)

[2, 14, 28, 41, 63]

### Length

In [32]:
len(friends)

3

In [33]:
len(lotto)

5

### Range

In [36]:
print(range(4))

range(0, 4)

In [37]:
print(len(friends))

3

In [40]:
print(range(len(friends)))

range(0, 3)

In [42]:
x = range(len(friends))

In [45]:
friends

['Joesph', 'Glenn', 'Sally']

In [46]:
for friend in friends:
    print('Happy new year,',friend)

Happy new year, Joesph
Happy new year, Glenn
Happy new year, Sally

In [47]:
for i in range(len(friends)):
    friend = friends[i]
    print('Happy new year,',friend)

Happy new year, Joesph
Happy new year, Glenn
Happy new year, Sally

# Working with Lists

In [49]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [51]:
print(a)

[1, 2, 3]

In [52]:
t = [9,41,12,3,74,15]

In [53]:
t[1:3]

[41, 12]

In [54]:
t[:4]

[9, 41, 12, 3]

In [55]:
t[3:]

[3, 74, 15]

In [56]:
t[:]

[9, 41, 12, 3, 74, 15]

### List methods

In [68]:
stuff=list()

In [69]:
type(stuff)

list

In [70]:
stuff.append('book')

In [71]:
stuff.append(99)

In [72]:
print(stuff)

['book', 99]

In [73]:
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

In [74]:
some = [1,9,21,10,16]

In [75]:
9 in some

True

In [76]:
15 in some

False

In [77]:
15 not in some

True

In [78]:
friends

['Joesph', 'Glenn', 'Sally']

In [80]:
friends.sort()
print(friends)

['Glenn', 'Joesph', 'Sally']

In [81]:
nums = [3,41,12,9,74,15]

In [82]:
print(len(nums))

6

In [83]:
print(max(nums))

74

In [84]:
print(min(nums))

3

In [86]:
print(sum(nums))

154

In [87]:
print(sum(nums)/len(nums))

25.666666666666668

## Average calculator

In [94]:
total = 0
count = 0
while True:
    inp = input('Enter a number: ')
    if inp == 'done':
        break
    value = float(inp)
    total = total + value
    count = count + 1
average = total / count
print('Average:',average)

Enter a number: 10
Enter a number: 20
Enter a number: done
Average: 15.0

In [ ]:
numlist = list()
while True:
    inp = input('Enter a number: ')
    if inp == 'done':
        break
    value = float(inp)
    numlist.append(value)

average = sum(numlist)/len(numlist)
print('Average: ',average)

## Strings and Lists

In [2]:
abc = 'With three words'
stuff = abc.split()
print(stuff)
# look for blanks and breaks into a list

['With', 'three', 'words']

In [3]:
print(len(stuff))

3

In [4]:
print(stuff[0])

With

In [5]:
print(stuff)

['With', 'three', 'words']

In [8]:
for i in stuff:
    print(i)

With
three
words

In [14]:
line = 'a lot         of spaces'
etc = line.split()
print(etc)

['a', 'lot', 'of', 'spaces']

In [15]:
line = 'first;second;third'
thing = line.split()
print(thing)

['first;second;third']

In [16]:
print(len(thing))

1

In [17]:
thing = line.split(';')
print(thing)

['first', 'second', 'third']

In [18]:
print(len(thing))

3

In [37]:
fhand = open('mbox.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From '):
        continue
    words = line.split()
    print(words[2])

Sat

In [44]:
email = words[1]
pieces = email.split('@')
print(pieces[1])

uct.ac.za